/* body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    /* background-color: #18d26e; */

#header {
    height: 80px;
    /* transition: all 0.5s; */
    transition: all 0.5s;
    background: #fdcd00;
}

#header .logo {
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: #f6f6f6;
    border-radius: 20vh;
    z-index: -1;
    height: auto;
    width: 25vw;
    transition: ease-out 0.5s;
}

#header .header-scrolled {
    border-radius: 15vh;
    margin-top: 3vh;
    background: #898989;
    transition: all 0.3s;
}

#header.header-scrolled .logo {
    background-color: #ffffff;
    border-radius: 20vh;
    z-index: -1;
    height: 6vh;
    width: 25vw;
    margin-top: 9vh;
    transition: all 0.5s;
    transition: ease-in 0.5s;
    height: auto;
}

#header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: auto;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #898989;
    text-decoration: none;
}

#header .logo img {
    margin: auto;
    max-height: 40px;
}

.navbar {
    padding: auto;
    margin: 0 auto 0 auto;
}

.right {
    margin: 0;
    padding: auto;
    display: flex;
    list-style: none;
    align-items: center;
}

.left {
    margin: 0;
    padding: auto;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul {
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px 7px 15px;
    margin-left: 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    transition: 0.3s;
    border-radius: 10vh;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    background: #fdcd00;
}

h .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 5px;
    top: calc(100% + 30px);
    margin: 5px 0 0 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #898989;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 15px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    color: #2a2c39;
    margin: 0 5px;
    font-size: 14px;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #898989;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (min-width: 900px) {
    #header.header-scrolled {
        border-radius: 10vh;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1.5vh;
        background: #898989;
    }
    .navbar ul {
        margin-left: 80px;
    }
    .navbar ul a {
        font-size: large;
    }
    #header .logo {
        margin-left: auto;
        margin-right: auto;
    }
    #header .logo img {
        background-color: #ffffff;
        flex-direction: column;
        padding: auto;
        margin: auto;
        max-height: auto;
    }
}

@media (min-width: 1200px) {
    .navbar ul {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar ul a {
        font-size: large;
    }
    #header.header-scrolled {
        border-radius: 10vh;
        margin-top: 1.5vh;
        background: #898989;
    }
    #header .logo {
        margin-left: auto;
        margin-right: auto;
    }
    #header .logo img {
        flex-direction: column;
        background-color: #ffffff;
    }
}

@media (min-width: 1400px) {
    #header .logo {
        margin-left: auto;
        margin-right: auto;
    }
    #header .logo img {
        background-color: #ffffff;
        flex-direction: column;
    }
    .navbar ul {
        margin-left: 200px;
        font-size: large;
    }
    .navbar ul a {
        font-size: large;
    }
    #header.header-scrolled {
        border-radius: 10vh;
        margin-top: 1.5vh;
        background: #898989;
    }
    @media (max-width: 1366px) {
        .navbar .dropdown .dropdown ul {
            left: -90%;
        }
        .navbar .dropdown .dropdown:hover>ul {
            left: -100%;
        }
    }
}


/**

/* @import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
    background-color: #c394f8;
    &.blue {
        background-color: #428aa6;
    }
}

input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
    img {
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
}

.player {
    background-color: #fff;
    border-radius: 8px;
    min-width: 320px;
    padding: 16px 10px;
}

.upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
}

.play-icon {
    margin-right: 10px;
}

.song-info {
    width: calc(100% - 32px);
    display: block;
}

.song-info .title {
    color: #403d40;
    font-size: 14px;
    line-height: 24px;
}

.sub-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subtitle,
.time {
    font-size: 12px;
    line-height: 16px;
    color: #c6c5c6;
}

.time {
    font-size: 12px;
    line-height: 16px;
    color: #a5a5a5;
    font-weight: 500;
    margin-left: auto;
}

.progress-bar {
    height: 3px;
    width: 100%;
    background-color: #e9efff;
    border-radius: 2px;
    overflow: hidden;
}

.progress {
    display: block;
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #2992dc;
    border-radius: 6px;
}

.info-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform .4s ease-in;
}

#item-2:checked~.player #test {
    transform: translateY(0);
}

#item-2:checked~.player #test {
    transform: translateY(-40px);
}

#item-3:checked~.player #test {
    transform: translateY(-80px);
} */